body {
    margin: 0;
    background-color: #f8f8f8;
    color: #212427;
}

.flex-item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    display: flex;
    padding: 0; 
    width: 100%;
    gap: 0;
}


.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.container1 {
    justify-content: flex-start;
}

.container2 {
    justify-content: flex-end;
}

.container3 {
    justify-content: center;
}

.container4 {
    justify-content: space-between;
}

.container5 {
    justify-content: space-around;
}

.container6 {
    justify-content: space-evenly;
}
.container-exercicioB {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    
}
.container-desafio {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-end; 
}